<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <paths>
        <media-path>{{ media_path }}</media-path>
        <log-path disable="false">{{ log_path }}</log-path>
        <data-path>{{ data_path }}</data-path>
        <template-path>{{ template_path }}</template-path>
    </paths>
    <lock-clear-phrase>{{ casparcg_gui_password }}</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>{{ casparcg_output_resolution }}</video-mode>
            <consumers>
                <screen />
                <system-audio />
            </consumers>
        </channel>
    </channels>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
    <amcp>
        <media-server>
            <host>localhost</host>
            <port>8000</port>
        </media-server>
    </amcp>
</configuration>
<log-level>info</log-level>
<log-align-columns>true</log-align-columns>
<template-hosts>
    <template-host>
        <video-mode />
        <filename />
        <width />
        <height />
    </template-host>
</template-hosts>
<flash>
    <enabled>false</enabled>
</flash>
<ffmpeg>
    <producer>
        <auto-deinterlace>interlaced</auto-deinterlace>
        <threads>4</threads>
    </producer>
</ffmpeg>
<html>
    <remote-debugging-port>9280</remote-debugging-port>
    <enable-gpu>false</enable-gpu>
</html>
<system-audio>
    <producer>
        <default-device-name></default-device-name>
    </producer>
</system-audio>
<ndi>
    <auto-load>false</auto-load>
</ndi>
<channels>
    <channel>
        <video-mode>{{ casparcg_output_resolution }}</video-mode>
        <consumers>
            <system-audio>
                <channel-layout>stereo</channel-layout>
                <latency>200/latency>
            </system-audio>
            <screen>
                <device>1</device>
                <aspect-ratio>default</aspect-ratio>
                <stretch>fill</stretch>
                <windowed>false</windowed>
                <key-only>false</key-only>
                <vsync>false</vsync>
                <borderless>true/borderless>
                <interactive>false</interactive>
                <always-on-top>true</always-on-top>
                <x>0</x>
                <y>0</y>
                <width>1920</width>
                <height>1080</height>
                <sbs-key>false</sbs-key>
                <colour-space>RGB</colour-space>
            </screen>
        </consumers>
        <producers>
            <producer id="0">AMB LOOP</producer>
        </producers>
    </channel>
</channels>
<osc>
  <default-port>6250</default-port>
  <disable-send-to-amcp-clients>false</disable-send-to-amcp-clients>
  <predefined-clients>
    <predefined-client>
      <address>127.0.0.1</address>
      <port>5253</port>
    </predefined-client>
  </predefined-clients>
</osc>